<div id="loginBody">
    <h1 id="H1login"> Login</h1>
    <div id="loginBox">
        <form action="/api/sessions/login" method="post">
            <input class="inputBox" type="email" name="email" placeholder="Email" required="required">
            <input class="inputBox" type="password" name="password" required="required" placeholder="contraseña">
            <button type="submit">Ingresar</button>
        </form>
        
    </div>
    <div>
        No tenes cuenta?: <a href="/register">Registrate aqui</a>
    </div>
</div>