<div>
<h1 id="h1profile"> perfil de usuario</h2>
<h4 id="h4profile">usuario: {{user.firstName}}  {{user.lastName}}</h4>
<h5 id="h5profile">rol: {{user.role}}</h6>

<form action="/api/sessions/logout" method="get">
    <button id="btnSalirProfile" type="submit"> salir </button>
</form>

</div>